body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

.card {
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 460px;
  background-color: white;
}
.card__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}
.card__content {
  padding: 20px;
}
.card__title {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #2c3e50;
  text-align: center;
}
.card__description {
  margin: 0 0 20px 0;
  line-height: 1.5;
  letter-spacing: 0.1dvh;
  color: #555;
}
.card__button {
  display: inline-block;
  padding: 15px 30px;
  margin-left: 160px;
  background-color: #8c8b8b;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s;

}
.card__button:hover {
  background-color: rgb(114.4935064935, 113.5064935065, 113.5064935065);
}


