
$primary-color: #2c3e50;    //основа
$accent-color: #8c8b8b;     
$base-font-size: 16px;     
$theme: light;              //тема


@mixin card-base($radius: 12px, $shadow: true) {
    border-radius: $radius;
    overflow: hidden;
    transition: all 0.3s ease;

    @if $shadow {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    } @else {
        box-shadow: none;
    }
}


body {
    font-family: 'Arial', sans-serif;
    font-size: $base-font-size;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}


.card {
    @include card-base($radius: 16px, $shadow: true);

    width: 460px;
    background-color: white;

    @if $theme == dark {
        background-color: #2c3e50;
        color: white;
    }

    &__image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
    }

    &__content {
        padding: 20px;
    }

    &__title {
        margin: 0 0 10px 0;
        font-size: 20px;
        color: $primary-color;
        text-align: center;

        @if $theme == dark {
            color: white;
        }
    }

    &__description {
        margin: 0 0 20px 0;
        line-height: 1.5;
        letter-spacing:0.1dvh;
        color: #555;

        @if $theme == dark {
            color: #ddd;
        }
    }

    &__button {
        display: inline-block;
        padding: 12px 24px;
        background-color: $accent-color;
        color: white;
        text-decoration: none;
        border-radius: 6px;
        font-weight: bold;
        transition: background-color 0.3s;
        

        &:hover {
            background-color: darken($accent-color, 10%);
        }
    }
}